{% load static %}

<div class="container">
	<div class="row">
	    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<h2>Themes</h2>
			<p>At CO<sub>4</sub>Con, we present discussions, seminars and workshops on a diversity of topics that reflect the key issues around technology and its impact on India. The themes of the conference converge on aim to develop new understanding of what technology means in the rapidly evolving global and national contexts</p>
	    </div>
	</div>
	<div class="row">
	    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
	    	<div class="container">
	            <div class="row">
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4  text-center">
	            		<i class="fa fa-code fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Software: Coding Freedom</h4>
						<h5>
						 	How Free Software can revolutionise India’s IT sector, transform its education structure and change the way we understand technology
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-globe fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Governance: The Digital Turn</h4>
						<h5>
							The nitty-gritty and the larger picture of India’s rapidly strides towards connectivity for all and the opportunities behind it.
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-plus-circle fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Networks: Ending Discrimination</h4>
						<h5>
							How do we ensure no one is left behind in the question for a free and equitable internet.
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-asterisk fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Commons: Opening up Knowledge</h4>
						<h5>
							Arts, science, culture, information and data and the greater good.
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-cogs fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Contribution: Thinking Beyond Code</h4>
						<h5>
							Design, document, evangelise. There are a million ways to help growth
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-genderless fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Gender: Diversity & Inclusion</h4>
						<h5>
							Because, together, we make technology a better space
						</h5>
	            	</div>
	            	<div class="col-sm-6 col-xs-12 col-lg-4 col-md-4 text-center">
	            		<i class="fa fa-group fa-3x" aria-hidden="true" style="margin-bottom: 20px;"></i>
						<h4>Community: Secrets of Success</h4>
						<h5>
							Building numbers, bettering quality ,strengthening bonds
						</h5>
	            	</div>
                    <div class="col-sm-12 col-xs-12 col-lg-4 col-md-4 text-center">
                        <br />
                        <br />
                        <button class="btn btn-default">Register Now</button>
                    </div>
	            </div> <!-- row -->
	        </div> <!-- container -->
        </div>
	</div>
	<div class="row">
		<div class="col-lg-offset-5 col-md-offset-5 col-sm-12 col-xs-12 col-lg-4 col-md-4">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		</div>
	</div>
</div>
