<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-sm-offset-3 col-md-3 col-sm-6">
            <h2><span class="black">CO<sub>4</sub>Con starts in</span></h2>
        </div>
        <div class="col-sm-7 col-md-6">
            <ul id="countdown">
                <li>
                    <span class="days time-font">00</span>
                    <p>days </p>
                </li>
                <li>
                    <span class="hours time-font">00</span>
                    <p class="black">hours </p>
                </li>
                <li>
                    <span class="minutes time-font">00</span>
                    <p class="black">minutes</p>
                </li>
                <li>
                    <span class="seconds time-font">00</span>
                    <p class="black">seconds</p>
                </li>
            </ul>
        </div>
    </div>
</div>
