{% extends 'base.html' %}

{% load django_markdown %}
{% load static from staticfiles %}
{% load django_bootstrap_breadcrumbs %}

{% block head_title %} {{ conference.name }} proposals {% endblock %}
{% block og_title %} {{ conference.name }} proposals {% endblock %}
{% block og_description %} {{ conference.description|markdown|safe|striptags}} {% endblock %}
{% block page_description %} {{ conference.description|markdown|safe|striptags}} {% endblock %}

{% block endhead %}
    <!-- Custom CSS -->
    <link href="{% static 'css/list.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb conference.name "conference-detail" conference.slug %}
    {% breadcrumb "Proposals" "proposals-list" conference.slug %}
{% endblock %}

{% block navbar_logo %}
    {% if conference.logo %}
    <a href="{% url "conference-detail" conference.slug %}">
        <img src="{{ conference.logo.url }}">
    </a>
    {% else %}
        <a href="#" class="navbar-brand">{{ conference.name }}</a>
    {% endif %}
{% endblock navbar_logo %}

{% block page_classes %}{{ block.super}} page-proposals{% endblock page_classes %}

{% block content %}
<section class="content custom-container proposal-list">
    <div class="push-4-bottom push-1-top">
        <div class="row">
            <div class="col-xs -12 col-sm-12 ">
                <p class="meta">
                    <b class="text-muted">
                        {{ conference.duration_display }}
                    </b>
                    {% if is_proposal_reviewer %}
                        <a class='btn btn-primary pull-right' href="{% url 'proposal-dashboard' conference.slug %}">
                            Reviewer Dashboard
                        </a>
                    {% endif %}
                    <span class="status status-{{conference.status}}">
                        {{ conference.get_status_display }}
                    </span>
                </p>
                <hr>
                <p class="text-left">{{ conference.description|markdown }}</p>
                {% if is_reviewer %}
                    <a class='btn btn-primary' href="{% url 'proposals-to-review' conference.slug %}">Proposals To Review</a>
                    <a class='btn btn-primary' href="{% url 'second-phase-voting' conference.slug %}">Second Phase Voting</a>
                {% endif %}
                &nbsp;
                {% if user.is_superuser or user.is_staff %}
                    <a class='btn btn-primary' href="{% url 'proposal-reviewer-votes-dashboard' conference.slug %}">
                        Reviewer Votes Dashboard
                    </a>
                {% endif %}
                {% if is_filtered %}
                    <a class='btn btn-info pull-left' href="./"> <i class="fa fa-list"></i> View all {{ conference.name }} <i class="fa fa-close"></i></a>
                {% endif %}
                {% if conference.is_accepting_proposals %}
                    <a class='btn btn-primary pull-right' href="{% url 'proposal-create' conference.slug %}">
                        <i class="fa fa-plus-square-o"></i> New Proposal
                    </a>
                {% endif %}
                {% if user.is_authenticated and not conference.status == ConferenceStatus.SCHEDULE_PUBLISHED %}
                    <a class='btn btn-info pull-right' href="{% url 'profiles:dashboard' %}">My Proposals</a>
                {% endif %}

            </div>
        </div>

        <div class="row">
            {% if proposal_sections %}
            <div class="col-md-7">
                <h4>Proposal Sections</h4>
                <ol style="padding-left: 1.1em">
                {% for item in proposal_sections %}
                 <li><b>{{item.name}}</b>{% if item.description %} - <span class="text-muted">{{item.description}}</span></li>{% endif %}
                {% endfor %}
                </ol>
            </div>
            {% endif %}
            {% if proposal_types %}
            <div class="col-md-5">
                <h4>Proposal Types</h4>
                <ol style="padding-left: 1em">
                {% for item in proposal_types %}
                 <li><b>{{item.name}}</b>{% if item.description %} - <span class="text-muted">{{item.description}}</span></li>{% endif %}
                {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
        <hr>
        <a name="proposals"></a>
        {% if selected_proposals %}
            {% include 'proposals/partials/proposal-list--selected-items.html' with proposals=selected_proposals title="Selected {{ conference.name }}" display_status=False %}
        {% endif %}

        {% if public_proposals_list %}

            {% if filter_name %}
                {% include 'proposals/partials/proposal-list--items.html' with proposals=public_proposals_list title=filter_name display_status=False %}
            {% else %}
                {% include 'proposals/partials/proposal-list--items.html' with proposals=public_proposals_list title='List of Proposals' display_status=False %}
            {% endif %}

        {% else %}
            <hr>
            <h2>List of {{ conference.name }}</h2>
            <p>No {{ conference.name }}. </p>
        {% endif %}

    </div>
</section>
{% endblock %}
